.App {
  background-color: #000000;
  min-height: 100vh;
}

.Headline{
  font-size: 3em;
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content:center;
  color:#fc0101;
}

.main__nav {
  display: flex;
  padding: 0 10%;
  justify-content: flex-end;
  align-items: center;
}

#basic-menu a {
  text-decoration: none;
  color: #1f1f1f;
}

.dash-display {
  display: flex;
  margin: auto;
  max-width: 90%;
  height: 60vh;
  justify-content: center;
  align-items: center;

}
